.editBootcamp{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 500px;
    border: 1px solid yellow;

    .content-edit{
        display: flex;
        flex-direction: column;
    }
}