.editBootcamp{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 500px;
    margin: 0 auto;
    padding: 15px;

        .content-edit{
            display: flex;
            flex-direction: column;
            padding: 10px;
            margin: 5px;

            input{
                padding: 10px;
                margin: 5px;

                &:focus{
                    border: 2px solid black;

                    &::placeholder{
                        font-style: italic;
                        font-size: 11px;
                        

                    }
                    
                }
            }
        }
        .content-action{
            display: flex;
            justify-content: space-around;

            button{
                border: 1px solid black;
                width: 15%;
                padding: 8px;
            }    
        }
}