.users_edit_admin {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 15px;
    border-bottom: 0.5px solid;
    padding-bottom: 3px;
}

.boot_users {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 15px;
    border-bottom: 0.5px solid;
    padding-bottom: 3px;

}

.admin_edit_user_header {
    display: flex;
    flex-direction: column;
    margin-left: 20px;

}