.footer {
    display: flex;
    justify-content: space-between;
    background: rgb(56, 4, 4);
    color: white;
    padding: 1em 7em;
    // box-align: center;
}

img {
    height: 40%;
    width: 40%;
    padding: 0;
}

.blurb {
    margin: 0;
    word-wrap: break-word;
}

.social {
    margin: 20px;
    color: white;
}

i {
    display: flex;
    flex-direction: row; //maintain row after resize
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    font-size: 150%;
}

.rights {
    font-size: 10px;
}

ul {
    list-style-type: none;
}

li {
    color: white;
    padding-bottom: 15px;
    cursor: pointer;
}

@media screen and (max-width: 700px) {
    .footer, .social, .links {
      flex-direction: column;
      flex: 0 0 auto; //prevent sentences and paragraphs from breaking
    }
    img {
        height: 100%;
        width: 100%;
    }
    i {
        font-size: 100%;
    }
  }