.navigation {
    display:flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    // box-shadow: 0 15px 15px -10px rgba(10, 10, 0, 0.87);
    color:white;
    padding: 1em;
    a {
    color:white;
    }
    img {
        width: 10em;
    // box-shadow: 0 20px 20px -20px rgba(231, 231, 226, 0.87);

    }
    .logo{


    }

    .avatar{
        background: red;
    }

    .menu{
        background: white;

    }

    .admin{

    }

    .i{
        color: white;
        display: flex;
        font-size: 15px;
    }


}
