h1{
    display:flex;
    padding:1em;
    justify-content: center;
    margin:0 auto;

}



.errorLoginView{

    display:flex;
    flex-direction: row;
    justify-content: center;
    color:red;
    margin:0 auto;
    width:320px;
}

.loginView{

    border: 1px solid rgb(202, 201, 201);
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:1em;
    margin:0px auto;
    width:320px;
    background-color: white;

    Button{

        margin-top:35px;           
        width: 14em;;
    }

    
}

