.RegisterSquare{


    h1{
        display: flex;
        padding: 1em;
        justify-content: center;
        margin: 0 auto;



    }

    .RegisterView{
        color: black;
        border: 1px solid rgb(202, 201, 201);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1em;
        margin: 0px auto;
        width: 280px;
        background-color: white;
        border-radius: 15px;

        .formControl {
            margin-top: 1em;
        }

        .botonRegister {

            margin-top: 35px;
            width: 14em;
            ;
        }


    }



}