.bootcampView {
   display: flex;
   justify-content: center;
   flex-direction: column;
    .posts {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 2px;
        padding: 2px;
    }
    .actions {
        position: sticky;
        bottom: 0px;
        display: flex;
        flex-direction: row-reverse;
        padding: 1em;
        padding-right:0;
        opacity: 0.8;
        transition: opacity 300ms ease;
        &:hover{
            opacity: 1;
        }
        input {
            padding:10px;
        }
        & > * {
            margin-left:1em;
        }
    }
}