.EditProfileView{
  padding: 2em;
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-wrap: nowrap;
  justify-content: center;
  width: 70%;
  border: 1px solid #c7181714;
  margin: 2em auto;
  border-radius: 5px;

  p{
    display: flex;
    padding: 1em;
    justify-content: center;
    margin: 0 auto;
  }

  form {
  display: flex;
  flex-direction: column;
  height: 100%; 
  flex-wrap: nowrap;
  justify-content: center;

    button,
    .formControl,
    .textField {
      align-self: center;
      width: 70%;
    }
    button{
      margin: 1em 0;
    }
  }
  form + form {
    margin-top: 3em;
  }

  // .hidden{display: none}
  
}
